.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
nav.header a {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
}
nav.header a:hover {
    color: orange;
}
.text-white {
    color: white;
    padding-left: 5px;
}